.bundle/
vendor/
Gemfile.lock
*.gem
*.bundle
*.dll
*.dSYM/
*.dylib
*.so
ext/digest_sip_hash_native/Makefile
ext/digest_sip_hash_native/mkmf.log
ext/digest_sip_hash_native/target/
ext/digest_sip_hash_native/core/target/
ext/digest_sip_hash_native/ffi/target/
ext/digest_sip_hash_native/Cargo.lock
ext/digest_sip_hash_native/core/Cargo.lock
ext/digest_sip_hash_native/ffi/Cargo.lock
